{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>اطلاعات تأمین کننده</h1>
    <a href="{% url "supplier:update_supplier" supplier.id %}">ویرایش تأمین کننده</a>
    <a href="{% url "supplier:delete_supplier" supplier.id %}">حذف</a>
    <p><strong>نام:</strong> {{ supplier.name }}</p>
    <p><strong>آدرس:</strong> {{ supplier.location }}</p>
    <p><strong>وبسایت:</strong> {{ supplier.website }}</p>
    <h3>شماره تلفن‌ها</h3>
    <ul>
        {% for phone_number in phone_numbers %}
            <li>{{ phone_number.phone_number }}</li>
        {% empty %}
            <li>شماره تلفنی ثبت نشده است.</li>
        {% endfor %}
    </ul>
    <hr>
    <p><strong>زمان ثبت اطلاعات:</strong> {{ supplier.get_jalali_created }}</p>
    <p><strong>زمان آخرین بروزرسانی اطلاعات:</strong> {{ supplier.get_jalali_updated }}</p>
{% endblock %}